@import url(normalize.css);

* {
    box-sizing: border-box;
}
body {
    background-color: #E6F1E5;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    color: #222;

    @media (max-width: 425px) {
        font-size: 16px;
    }
}

